html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 95vh 5vh;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.05em;
    color: #ccc;
}

#book-add-button {
    min-width: clamp(8vw, 12vw, 15vw);
    min-height: clamp(8vw, 12vw, 15vw);
    border-radius: 50%;
    border: 1px solid;
}

#book-add-button.display {
    max-width: max-content;
    max-height: max-content;
    align-self: center;

}

.book-add-container {
    /* background-color: #C60C30; */
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5vh;
    transition: transform 1000ms ease-out;
}

.book-add-container.hidden {
    max-height: 20vh;
    max-width: 30vw;
    transform: translateY(30vh);
}

.book-add-container h3 {

}

.book-main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-28deg, #DDA0DD 50%, #662d91 30%);
}

.book-main.display {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.book-main.hidden {
    /* background-color: ; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

.book-form-container {
    color: black;
}

.book-form-container.display {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    transform: translateY(0);
    transition: transform 1000ms ease-out;
    max-width: fit-content;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid;
}

.book-form-container.hidden {
    transform: translateY(100vh);
    /* background-color: ; */
}

button {
    border: none;
    min-width: 12vw;
    min-height: 5vh;
    border-radius: 18px;
    background-color: beige;
}

button:hover {
    background-color: tan;
}

footer {
    grid-area: 2/1/2/3;
    text-align: center;
    align-self: center;
    color: black;
}

form, .toggle {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255, 0.4);
    height: 25px;
}

.round {
    border-radius: 25px;
}

.round:before {
    border-radius: 25px;
}

.shelve {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    background: linear-gradient(20deg, #DDA0DD 50%, #662d91 30%);
    flex-direction: column;
    text-align: center;
}

.shelve-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    border-spacing: 0;
    justify-content: space-around;
    gap: 15px;
}

.shelve h4 {
    padding-left: 30px;
}

.switch {
    position: relative;
    height: 50px;
    width: 120px;
    display: inline-block;
}

.switch input {
    height: 0px;
    opacity: 0;
}

.switch input:checked + .slider {
    background-color: black;
}

.switch input:checked + .slider:before {
    transform: translateX(calc(120px - 44px - 4px));
    transition: transform 400ms ease-out;
    content: 'Read';
    font-size: 0.8em;
    text-align: center;
    line-height: 40px;
}

.slider {
    position: absolute;
    background-color: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.slider:before {
    position: absolute;
    content: 'Not read';
    text-align: center;
    font-size: 0.8em;
    top: 4px;
    left: 4px;
    height: 40px;
    width: 40px;
    background-color: white;
    transition: transform 400ms ease-out;
    margin-top: auto;
}

.tile-container {
    background-color: #E6E6FA;
    border: 2px solid black;
    padding : 20px;
    border-radius: 10px;
    min-width: clamp(8vw, 10vw, 12vw);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: black;
}

.toggle {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center ;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}